html{
    scroll-behavior: smooth;
}
body{
    background-color: white;
}

h1,
h4{
    font-family: 'Source Code Pro', monospace;
    font-weight: 900;
}

p{
    font-family: 'Montserrat', sans-serif;
    width: 400px;}

li{
    font-family: 'Source Code Pro', monospace;
    list-style: none;
}

li:hover{
    color: #E3B5BF;
    cursor: pointer;
}

a{
    gap:0.5em;
    list-style: none;
    padding-right: 7.5px;
    color:#1E272D;
    text-decoration: none;
}
a:hover{
    color: #E3B5BF;
    cursor: pointer;
}

/* flex */
.column{
    display: flex;
    flex-direction: column;
}

.row{
    display: flex;
    flex-direction: row;
}
/* colors */
.white{
    color:white;
}

.bg-colored{
    background-color: #E3B5BF;
}

.black{
    color: #1E272D;
}

/* alignment */

.left-align{
    text-align: justify;
    text-align-last: left;
}

.right-align{
    text-align: justify;
    text-align-last: right;
}
/* header */
header{
    padding: 1.5em;
    display: grid;
    grid-template-columns: repeat(3, auto);
    grid-gap: 20px;
    justify-content: center;
    background-color: #1E272D;
}

/* main */

.main{
    align-items: center;
    justify-content: center;
    padding-top: 4em;
    gap: 2em;
}

.background{
    background-image: url('assets/bg-img.png');
    background-color: #ffffff;
}

/* about */

.showcase{
    transition: all 0.2s ease-in-out;
}

.showcase:hover{
    transform: scale(1.05);
    transition: all 0.2s ease-in-out;
}